
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-justify: auto;
}

.content {
  margin: 0;
  background: linear-gradient(#b3e9eb, #7dd8db, #738bd8, #2d3ed6 );
  flex: 1;
  position: relative;

}
